Advance config for Nginx Proxy manager (Using another reverse proxy? See alternative congfigs here: https://github.com/nextcloud/all-in-one/blob/main/reverse-proxy.md )
#-----------Do not copy this line, copy whats underneath!-----------
client_body_buffer_size 512k;
proxy_read_timeout 86400s;
client_max_body_size 0;
